[submodule "CppAD"]
	path = CppAD
	url = git@github.com:nashmit/CppAD.git
	branch = stable/2024
[submodule "CppADCodeGen"]
	path = CppADCodeGen
	url = git@github.com:nashmit/CppADCodeGen.git
	branch = master
[submodule "python/pybind11"]
	path = python/pybind11
	url = git@github.com:nashmit/pybind11.git
	branch = master
